<div class="row" ng-controller="ArticleCreateCtrl">
    <h3 style="text-align: left">Add Article</h3>
    <form ng-submit="addArticle()">
        <div class="form-group">
            <input class="form-control" type="text" ng-model="title" placeholder="Enter title">
        </div>
        <div class="form-group">
            <select ng-model="category" class="form-control">
                <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <textarea ng-model="body" data-ck-editor placeholder="Enter Content"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary large" value="Add Article">
        </div>
    </form>
</div>