footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    height: 30px;
}

body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.heading {
    background: #666;
    color: #fff;
    padding: 5px;
}